.navbar {
  z-index: 2;
  position: sticky;
  top: 0;
  padding-top: 40px;
  margin-left: 5vw;
  margin-right: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 2.5vh;
}
.linkItems {
  display: flex;
  gap: 15px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .navbar {
    padding-top: 25px;
    font-size: 1.7vh;
    //justify-content: center;
  }
  .linkItems {
    gap: 7px; //justify-content: space-around;
  }

  // .name {
  //   display: none;
  // }
}
