.proj_h {
  position: relative;
  height: 200vh;
}

.card {
  position: relative;
  background: white;
  box-shadow: -1px 8px 15px rgba(0, 0, 0, 0.2);
  padding: 3vh 3vh 10vh 3vh;
  text-align: justify;
  text-justify: justify;
  width: 50vw;
}

.organization {
  font-weight: 700;
  font-size: 18px;
}

.title {
  font-size: 18px;
  margin-top: 5px;
}

.date {
  margin-top: 5px;
  font-size: 15px;
  color: #565656;
  font-family: "Satoshi-Bold";
}

.duty {
  margin-top: 5px;
  font-size: 16px;
}

@media screen and (max-width: 600px) {
  .card {
    width: 80vw;
  }
}
